Question 1: Extracting Tesla Stock Data Using yfinance

In [1]:
import pandas as pd
import yfinance as yf
import requests
from bs4 import BeautifulSoup

In [ ]:
#Retrieving a ticker for Tesla
tsla_data = yf.Ticker("TSLA")

#Retrieving historical Tesla Stock data
tesla_data = tsla_data.history(period='max')

#Formatting the index
tesla_data.reset_index(inplace=True)

Question 2: Extracting Tesla Revenue Data Using Webscraping

In [5]:
#Assigning the URL for Tesla's revenue page to 'url2'
tsla_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

#Retrieving the html file from the website
html_data = requests.get(tsla_url, 'html.parser')

#Parsing the html file
soup = BeautifulSoup(html_data.text, "html")

In [15]:
#Looking for a tag called 'table'
tesla_list = []
table = soup.find('table')

for tr in table.find_all('tr'): #finding all tr header cells in the table 
  cols = tr.find_all('td') #finding all td data cells in each tr header
  if len(cols) >= 2: #if cols contains more than 2 td data cell, then execute the following
    date = cols[0].get_text(strip=True) #Naming and assigning the first cols as 'year'
    revenue = cols[1].get_text(strip=True) #Naming and assigning the second cols as 'amount'

    #Appending each iterative to df list
    tesla_list.append({
      'Date': date,
      'Revenue': revenue
    })

In [17]:
#converting a list to a dataframe
tesla_revenue = pd.DataFrame(tesla_list)

#removing NA
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue']!='']

In [ ]:
#Removing comma and dollar sign

tesla_revenue['Revenue'] = tesla_revenue['Revenue'].str.replace(',|\$', "", regex=True)

tesla_revenue.head()

    Date Revenue
0   2021   53823
1   2020   31536
2   2019   24578
3   2018   21461
4   2017   11759
5   2016    7000
6   2015    4046
7   2014    3198
8   2013    2013
9   2012     413
10  2011     204
11  2010     117
12  2009     112

Question 3: Extracting GameStop Stock Data Using yfinance

In [ ]:
gme_ticker = yf.Ticker('GME')

gme_historical_data = gme_ticker.history(period='max')

gme_historical_data.reset_index(inplace=True)

Failed to get ticker 'GME' reason: Expecting value: line 1 column 1 (char 0)
GME: No price data found, symbol may be delisted (period=1d)

AttributeError: 'DataFrame' object has no attribute 'reser_index'

Question 4: Extracting GameStop Revenue Data Using Webscraping

In [10]:
gme_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html?q=gme'

gme_html = requests.get(gme_url, 'html.parser')

gme_soup = BeautifulSoup(gme_html.text, 'html')

In [11]:
gme_data = []
gme_table = gme_soup.find('table')

for tr in gme_table.find_all('tr')[1:]: #starting the iteration from index 1, skipping index 0 as it doesn't contain 'td' data
  gme_cols = tr.find_all('td') 
  if len(gme_cols) >= 2:
    gme_year = gme_cols[0].get_text(strip=True)
    gme_revenue = gme_cols[1].get_text(strip=True)
  
  gme_data.append({
    'Year': gme_year,
    'Revenue': gme_revenue
  })

In [12]:
gme_df = pd.DataFrame(gme_data)

Question 5: Tesla Stock and Revenue Dashboard

In [13]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.default = "iframe"

In [14]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()
    from IPython.display import display, HTML
    fig_html = fig.to_html()
    display(HTML(fig_html))

Question 6: GameStop Stock and Revenue Dashboard

In [ ]:
import plotly